.pillar-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F4F4F4;
    margin-bottom: 1rem;
    /*padding: 1rem;*/
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pillar-title {
    //font-size: 3rem;
    text-align: center;
}


.pillar-photo{
    width: 50vw;
    height: auto;
    top: 0;
    bottom: 0;
    align-self: center;
    padding-top: 1rem;
    /*margin: auto;*/
}

h2 {
    font-size: 20px;
    font-weight: bold;
}


.pillar-description{
    text-align: left;
}


