.pillar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F4F4F4;
    margin-bottom: 1rem;
    padding: 1rem;
}

.pillar-title {
    font-size: 3rem;
    text-align: center;
}


.pillar-photo{
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: auto;
}


.pillar-description{
    text-align: left;
}


