header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .container h1 {
    text-align: center;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

h1 {
    text-align: left;
}

p {
    color: black;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('../../Media/misc/engineering-hall.jpg') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}


@media only screen and (max-width: 650px) {
    .media {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.media {
    width: 100%;
    height: auto;
}

#who-we-are {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#pillars{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
    padding-left: 0;
}

#join {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.video-text{
    color: white;
    font-weight: bolder;
    font-family: "Segoe Print";
}

.video-subtext{
    font-style: italic;

}
@media only screen and (max-width: 650px) {
    #video-overlay-graphic{
        width: 100%;
    }

}
