/*#title-block {*/
/*    width: 100%;*/
/*    height: 500px;*/
/*    background-image: url("../../Media/rush-header.png");*/
/*    background-size: 100%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    display: grid;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/

/*#title {*/
/*    color: white;*/
/*    font-size: 2.4em;*/
/*    font-family: monospace;*/
/*}*/

#rush-blurb {
    margin: 24px;
    border-bottom: 1px solid gray;
}

#blurb {
    color: black;
    font-size: 1em;
    line-height: 100%;
    font-family: sans-serif;
    text-align: left;
}

.divider {
    border: 1px dashed;
    border-color: #8b0000;
    width: 80%;
    position: center;
}

.timeline {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

#timeline-title {
    font-size: 1.4em;
}

.noexpand {
    max-height: 200px;
}

.node {
    margin-inside: 0;
    margin-right: 1em;
    font-size: 1em;
}

.event {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: black;
    font-family: sans-serif;
    font-size: 1em;
}

.event-date{
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 80%;
    margin: 0.5em;
}

.event-name {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 2;
    flex-shrink: 1;
    height: 80%;
    margin: 0.5em;
}

.event-date-extra {
    color: gray;
    font-size: 0.4em;
    text-align: left;
    width: 100%;
    margin: 0;
}

.event-date-day {
    font-size: 0.6em;
    color: black;
    text-align: left;
    margin-bottom: 0;
}

.description {
    color: gray;
    font-size: 0.5em;
    text-align: left;
    margin: 0;
}

.event-name-title {
    font-size: 0.6em;
    color: black;
    text-align: left;
    margin-bottom: 0;
}

.noshow {
    height: 0;
}

.show{
    display: flex;
    margin-top: 0;
    width: 100%;
}

.show img {
    width: 50%;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 414px) {
    #title {
        font-size: 3em;
    }
    #rush-blurb {
        font-size: 1.2em;
    }
    .event {
        font-size: 1.2em;
    }
    #timeline-title {
        font-size: 1.6em;
    }
}

@media (min-width: 768px) {
    #title {
        font-size: 4em;
    }
    #rush-blurb {
        font-size: 1.2em;
    }
    .event {
        font-size: 1.6em;
    }
    #timeline-title {
        font-size: 1.6em;
    }
}

@media (min-width: 1024px) {
    #title {
        font-size: 6em;
    }
    #rush-blurb {
        font-size: 1.6em;
    }
    .event {
        font-size: 2.5em;
    }
    #timeline-title {
        font-size: 2em;
    }
}

/*a {*/
/*    color: blue;*/
/*}*/

/*p {*/
/*    text-align: left;*/
/*}*/

#rush-header{
    padding-top: 10px;
    width: 100%;
    height: auto;
}

.rush-desc{
    font-weight: bold;
    text-align: left;
}