/* General */

h1{
    text-align: left;
}

.dropdown-menu.show {
    width: 50%;
    height: 66vw;
    overflow-y: scroll;
}

.class-header{
    margin-top: 10px;
    color: #8b0000;
    text-align: center;
}

/* Brother Item Container */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.grid-item {
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* Brother Item */

.headshot {
    width: 100%;
    min-width: 250px;
    height: 15vh;
    min-height: 500px;
    object-fit: cover;
    box-shadow: 4px 2px rgb(173, 2, 2);
    border-radius: .75rem;
}

.names{
    color:#8b0000;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding-left: 0;
}

.descriptor {
    text-align: left;
    color: #8b0000;
    padding-left: 0;
    margin-bottom: 0;
}

/* Brother Item Modal */

.headshot-div{
    text-align: center;
}

#modal-pic {
    width: 75%;
    height: auto;
}

.blurb {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.close-button{
    background-color: #8b0000;
}

/* Filter*/

.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filter-container button {
    margin: 1rem .5rem 0 1rem;
    min-width: 5rem;
    padding: 0.25rem .5rem;
    background: white;
    color: rgb(139, 0, 0);
    border-radius: 1.25rem;
    border: 2px solid rgb(139, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

button.active {
    background: rgb(139, 0, 0);
    color: white;
}