#actives-button{
    background-color: #8b0000;
    color:white;
    margin: 2px;
}
#alumni-button{
    background-color: #8b0000;
    color:white;
    margin: 2px;
}
#class-button{
    background-color: #8b0000;
    color:white;
    margin: 2px;
}

.btn-toolbar{
    float:right;
}

.brother-text {
    size: 10px;
    color: black;
}

body{
    background-color: white;
}

@media (min-width: 1024px){
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: white;
        /*padding: 5px;*/
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        background-color: white;
        /*padding: 5px;*/
    }
}

@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: white;
        /*padding: 5px;*/
    }
}


.grid-item {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.headshot {

    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px #8b0000;
}

.alumni{
    font-size: 1rem;
}

.buttonBar{
    padding: 20px;
    width: 100%;
    margin: 0;
}

.names{
    color:#8b0000;
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.close-button{
    background-color: #8b0000;
}

.descriptor {
    text-align: left;
    color: #8b0000;
}

h1{
    text-align: left;
}

dropdown-menu {
    height: 50vw;
    overflow-y: scroll;
}