#actives-button{
    background-color: #8b0000;
    color:white;
    margin: 5px;
}
#alumni-button{
    background-color: #8b0000;
    color:white;
    margin: 5px;
}
#class-button{
    background-color: #8b0000;
    color:white;
    margin: 5px;
}

.btn-toolbar{
    float:right;
}

.brother-text {
    size: 10px;
    color: black;
}

body{
    background-color: white;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    /*padding: 5px;*/
}
.grid-item {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.headshot {
    border: 2px solid #8b0000;
    /*object-fit: cover;*/
    /*border-radius: 50%;*/
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px #999;
}

.alumni{
    font-size: 1rem;
}

.buttonBar{
    padding: 20px;
    width: 100%;
    margin: 0;
}

.names{
    color:#8b0000;
}

.close-button{
    background-color: #8b0000;
}

.majors {
    font-style: italic;
    color: #8b0000;
}