.footer {
    padding-top: 1rem;
    background-color: #545353;
    width: 100%;
}

.footer-text {
    text-align: center;
}


.credits {
    color: #ffffff;
    margin-top: 20px;
    text-align: right;
    font-size: 10px;
}

.logo {
    width: 66%;
    height: auto;
    padding-bottom: 10px;
    display:block;
    margin:auto;
}

a {
    color: #ffffff;
}

p {
    color: white;
    text-align: center;
    font-size: 1.0rem;
}

strong, i {
    color: white;
}

.email {
    color: white;
}