.footer {
    padding-top: 1rem;
    background-color: #2d2c2c;
    width: 100%;
    overflow: hidden;
    position: relative !important;
    z-index: 999999 !important;   /* very high to beat video/overlays */
    isolation: isolate !important;
}

.footer-text {
    text-align: center;
}




.logo {
    width: 66%;
    height: auto;
    padding-bottom: 10px;
    display:block;
    margin:auto;
}

.logo-mobile {
    width: 50%;
    height: auto;
    padding-bottom: 10px;
    display:block;
    margin:auto;
}

.footer a {
    color: #ffffff;
    //font-size: 1.0rem;
}

p {
    color: white;
    text-align: center;
    //font-size: 1.0rem;
}

strong, i {
    color: white;
}

#email{
    color: white;
}

.mobile-font-size{
    font-size: 0.6rem;
}

.footer-col {
    padding: 6px;
}

#about-column {
    padding-left: 10px;
}