.color-nav {
  background: #8b0000;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
}

.navbar-brand img{
  height: 100px;
  float: left;
  margin-right: 7px;
}

.dropdown-menu.show {
  height:auto;
  background-color: #8b0000;
  overflow-y: auto;
}

.show{
  display: block;
  margin-top: 0;
}

.navbar-nav{
  flex-direction: row;
  justify-content: flex-end;
}

.dropdown-item{
  font-weight: bold;
  color: white;
}



@media only screen and (min-width: 400px) {
  #nav-about, #nav-recruitment, #nav-brothers{
    margin-left: 3rem!important;
    margin-right: 3rem!important;
  }
}


@media only screen and (max-width: 400px) {
  #nav-about, #nav-recruitment, #nav-brothers{
    margin-left: 1.00rem!important;
    margin-right: 1.00rem!important;
  }
}

.dropdown-item{
  padding-right: 0px;
}