.color-nav {
  background: #8b0000;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
}

.navbar-brand img{
  height: 75px;
  float: left;
  margin-right: 7px;
}

.dropdown-menu.show {
  height:auto;
  background-color: #8b0000;
  overflow-y: auto;
}

.show{
  display: block;
  margin-top: 0;
}

.navbar-nav{
  flex-direction: row;
  justify-content: flex-end;
}

.dropdown-item{
  font-weight: bold;
  color: white;
}

